<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.eco.admin.model.dao.AdminMapper">
	
	<sql id="findAdminBoardDTO">
		SELECT
               B.BOARD_NO boardNo
             , B.BOARD_TITLE boardTitle
             , B.REG_DATE regDate
             , B.STATUS status
             , COUNT(CASE WHEN BR.STATUS = 'Y' THEN 1 END) AS boardReportCount
             , M.MEMBER_ID memberId
          FROM 
               TB_BOARD B
          JOIN 
               TB_MEMBER M ON B.REF_MNO = M.MEMBER_NO
          LEFT 
          JOIN 
               TB_BOARD_REPORT BR ON BR.REF_BNO = B.BOARD_NO
         GROUP 
            BY
               B.BOARD_NO, B.BOARD_TITLE, B.REG_DATE, B.STATUS, M.MEMBER_ID
	</sql>
	
	<sql id="findAdminCommentDTO">
				SELECT
       		   C.COMMENT_NO commentNo
     		 , C.COMMENT_CONTENT commentContent
     		 , C.REG_DATE regDate
     		 , C.STATUS status
     		 , COUNT(CASE WHEN CR.STATUS = 'Y' THEN 1 END) AS commentReportCount
     		 , M.MEMBER_ID memberId
  		  FROM 
       		   TB_COMMENT C
  		  JOIN 
       		   TB_MEMBER M ON C.REF_MNO = M.MEMBER_NO
  		  LEFT 
  		  JOIN 
       		   TB_COMMENT_REPORT CR ON CR.REF_CNO = C.COMMENT_NO
 		 GROUP 
    		BY
       		   C.COMMENT_NO, C.COMMENT_CONTENT, C.REG_DATE, C.STATUS, M.MEMBER_ID
	</sql>
	
	<select id="findBoardAll" resultType="AdminBoardDTO">
		<include refid="findAdminBoardDTO" />
         ORDER
            BY 
               B.BOARD_NO DESC
	</select>
	
	<select id="findReportedBoard" resultType="AdminBoardDTO">
		<include refid="findAdminBoardDTO" />
		HAVING
       		   COUNT(CASE WHEN BR.STATUS = 'Y' THEN 1 END) > 0
 		 ORDER
    		BY 
       		   B.BOARD_NO DESC
	</select>
	
	
	
	<select id="findCommentAll" resultType="AdminCommentDTO">
		<include refid="findAdminCommentDTO" />
 		 ORDER
    		BY 
    		   C.COMMENT_NO DESC
	</select>
	
	<select id="findReportedComment" parameterType="AdminCommentDTO">
		<include refid="findAdminCommentDTO" />
		HAVING
       		   COUNT(CASE WHEN CR.STATUS = 'Y' THEN 1 END) > 0
 		 ORDER
   			BY 
	   		   C.COMMENT_NO DESC
	</select>

	<select id="countBoards" resultType="int">
        SELECT 
        	   COUNT(*)
          FROM 
               TB_BOARD
    </select>
    
    <select id="countReportedBoards" resultType="int">
		SELECT 
       		   COUNT(DISTINCT REF_BNO)
  		  FROM 
       		   TB_BOARD_REPORT
 		 WHERE 
       		   STATUS = 'Y'
	</select>
    
    <select id="countComments" resultType="int">
		SELECT
		       COUNT(*)
		  FROM
		       TB_COMMENT
	</select>
	
	<select id="countReportedComments" resultType="int">
		SELECT 
       		   COUNT(DISTINCT REF_CNO)
  		  FROM 
       		   TB_COMMENT_REPORT
 		 WHERE 
       		   STATUS = 'Y'
	</select>
	
</mapper>