<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.eco.stat.model.dao.StatMapper">

	<select id="todayParticipants" resultType="int">
  SELECT 
         COUNT(*)
    FROM 
         TB_BOARD
   WHERE 
         STATUS = 'Y'
     AND 
         BOARD_CATEGORY = #{category}
     AND 
         TRUNC(REG_DATE) = TRUNC(SYSDATE)
    </select>
	
	<select id="todayPost" resultType="int">
		SELECT 
		       COUNT(*)
		  FROM 
		       TB_BOARD
		 WHERE
		       STATUS = 'Y'
		   AND
		       BOARD_CATEGORY LIKE #{category}
		   AND
		       TRUNC(REG_DATE) = TRUNC(SYSDATE)         
	</select>
	
	
</mapper>  